body{
    background-image:url(https://images.unsplash.com/photo-1658743823918-e9bebf8ae61e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    background-size: cover;
    background-repeat: no-repeat;
}
    
header{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}
main{
    color: aliceblue;
    
   
}
#container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 50px;
    padding: 30px;
    background-color: rgba(156, 57, 248, 0.856)
}